/*  your css code here. If applicable */
body{
	 background-color: #cccccc;
}
.player_one{
}


#resource{
	
	background-color:white;
	
	
}
#resource>a{
	text-decoration:none;
}
h3{
	text-align:center;
}
